<!-- navbar -->
<div class="navbar-fixed">
	<nav>
	  <div class="nav-wrapper">
	    <a href="/" class="brand-logo">photOrganize</a>
	    <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
	    <ul class="right hide-on-med-and-down">
		    <li><a href="/">Home</a></li>
		    <li><a href="#howTo">How-To</a></li>
		    <li><a href="#about">About</a></li>
		    <li><a href="/user/:id/dashboard">Dashboard</a></li>
		    <li><a href="/user/:id/profile">Profile</a></li>
		    <li><a href="#" hidden>Logout</a></li>
	    </ul>
	    <ul class="side-nav" id="mobile-demo">
	        <li><a href="/">Home</a></li>
		    <li><a href="#about">Contact</a></li>
		    <li><a href="/user/:id/dashboard">Dashboard</a></li>
		    <li><a href="/user/:id/profile">Profile</a></li>
		    <li><a href="#" hidden>Logout</a></li>
      	</ul>
	  </div>
	</nav>
</div>
<!-- parallax one -->
<div class="parallax-container" id="pOne">
    <div class="parallax">
    	<img src="/images/img6.JPG">
    </div>
</div>
<!-- Home div -->
<div id="home" class="valign-wrapper">
	<div class="container">
		<div class ="row valign-wrapper">
			<div class="col m6">
				<h1 class="vertical-align">photOrganize</h1>
				<h5>for Instagram</h5>
			</div>
			<div class="col m6 center-align">
				<button class="btn center-align vertical-align">Log In with Instagram</button>
			</div>
		</div>
		<div class="row">
			<div class ="col m12">
				<h6>Categorize, annotate, search, and archive liked photos to create useful bookmarks and reminders.</h6>
			</div>
		</div>
	</div>
</div>
<!-- parallax two -->
<div class="parallax-container">
    <div class="parallax" id="pTwo">
    	<img src="/images/img1.JPG">
    </div>
</div>
<!-- how-to div -->
<div id="howTo">
	<div class="container">
		<h2>How-To</h2>
		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
		tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
		quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
		consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
		cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
		proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
	</div>
</div>
<!-- parallax three -->
<div class="parallax-container">
    <div class="parallax" id="pThree">
    	<img src="/images/img7.JPG">
    </div>
</div>
<!-- about div -->
<div id="about">
	<div class="container">
		<h2>About</h2>
		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
		tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
		quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
		consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
		cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
		proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
	</div>
</div>
<!-- footer div -->
<footer class="page-footer">
    <div class="container">
        <div class="row">
            <div class="col l6 s12">
            	<h5 class="white-text">Contact</h5>
                <p class="grey-text text-lighten-4">You can use rows and columns here to organize your footer content.</p>
            </div>
        </div>
    </div>
    <div class="footer-copyright">
        <div class="container">
            © Copyright 2015. All rights reserved.
            <a class="grey-text text-lighten-4 right" href="#!">Privacy Policy</a>
        </div>
    </div>
</footer>