<!-- ****** -->
<!-- navbar -->
<!-- ****** -->
<div class="navbar-fixed">
    <nav>
        <div class="nav-wrapper">
            <a href="/" class="brand-logo">photOrganize</a>
            <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
            <ul class="right hide-on-med-and-down">
                <li><a href="/">Home</a></li>
                <li><a href="/auth/instagram">Log In With Instagram</a></li>
                <li><a href="#howTo">How-To</a></li>
                <li><a href="#about">About</a></li>
            </ul>
            <ul class="side-nav" id="mobile-demo">
                <li><a href="/">Home</a></li>
                <li><a href="/auth/instagram">Log in with Instagram</a></li>
                <li><a href="#about">Contact</a></li>
            </ul>
        </div>
    </nav>
</div>
<!-- ************ -->
<!-- parallax one -->
<!-- ************ -->
<div class="parallax-container" id="pOne">
    <div class="parallax">
        <img src="/images/img6.JPG">
    </div>
</div>
<!-- ******** -->
<!-- home div -->
<!-- ******** -->
<div id="home" class="valign-wrapper">
    <div class="container">
        <div class ="row valign-wrapper">
            <!-- logo and tagline -->
            <div class="col m6">
                <h1 class="vertical-align" id="indexLogo">photOrganize</h1>
                <h5>for Instagram</h5>
            </div>
            <!-- log in button -->
            <div class="col m6 valign-wrapper">
                <a href="/auth/instagram" class="waves-effect waves-light btn right vertical-align light-blue darken-4">Log In with Instagram</a>
            </div>
        </div>
        <!-- brief description -->
        <div class="row">
            <div class ="col m12">
                <h6>Categorize, annotate, search, and archive liked photos to create useful bookmarks and reminders.</h6>
            </div>
        </div>
    </div>
</div>
<!-- ************ -->
<!-- parallax two -->
<!-- ************ -->
<div class="parallax-container">
    <div class="parallax" id="pTwo">
        <img src="/images/img1.JPG">
    </div>
</div>
<!-- ********** -->
<!-- how-to div -->
<!-- ********** -->
<div id="howTo">
    <div class="container" id="howToInfo">
        <!-- header row -->
        <div class="row">
            <h2>How-To</h2>
        </div>
        <!-- how-to row one -->
        <div class="row">
            <div class="col s6 m6 l6">
                <h4>1. Log In <i class="fa fa-instagram"></i></h4>
                <p>Log into photOrganize using your Instagram account. Don't worry, your data will never be shared with third parties. If you don't have an Instagram account, you can sign up for one <a href="https://instagram.com/">here</a>.</p>
            </div>
            <div class="col s6 m6 l6">
                <h4>2. Dashboard <i class="fa fa-tachometer"></i></h4>
                <p>Once logged in, you'll be able to view your dashboard, which has all of the photos that you've liked from your Instagram account. You can also search for photos by the tags that you've added in photOrganize.</p>
            </div>
        </div>
        <!-- how-to row two -->
        <div class="row">
            <div class="col s6 m6 l6">
                <h4>3. Add Tags and Notes <i class="fa fa-tags"></i></h4>
                <p>By clicking on a photo on your dashboard, you'll be able to access the photo's details, including who posted it, the original caption, a link to Google Maps to view location, and a link to view the photo on Instagram. You can also add tags to make your photos searchable, and notes. These help you keep track of photos that you've liked in a way that makes sense to you.</p>
            </div>
            <div class="col s6 m6 l6">
                <h4>4. Archive Photos <i class="fa fa-archive"></i></h4>
                <p>Don't feel the need to keep track of a photo you've liked? Archive it. This will hide the photo from your dashboard. Want to keep track of photos you've archived or accidentally archive a photo you want to see on your dashboard? You can access all archived photos from your profile page. From there, you can restore any photo that you've archived to your dashboard, along with its associated tags and notes.</p>
            </div>
        </div>
    </div>
</div>
<!-- ************** -->
<!-- parallax three -->
<!-- ************** -->
<div class="parallax-container">
    <div class="parallax" id="pThree">
        <img src="/images/img7.JPG">
    </div>
</div>
<!-- ********* -->
<!-- about div -->
<!-- ********* -->
<div id="about">
    <div class="container" id="aboutInfo">
        <div class="row">
            <h2>About</h2>
        </div>
        <div class="row valign-wrapper">
            <div class="col s8 m8 l8">
                <p>photOrganize was built by Emma Brillhart as a project for General Assembly's Web Design Immersive Course. The concept for the site was borne out of frustration over not being able to easily use photos liked on Instagram as a bookmark or reminder (particularly for good-looking restaurants!). To see the source code and a ReadMe, click on the GitHub icon in the footer.</p>
            </div>
            <div class="col s4 m8 l8 center-align">
                <img class="responsive-img circle vertical-align center-align" id="aboutImg" src="/images/emmabrillhart.jpg">
            </div>
        </div>
    </div>
</div>
<!-- ********** -->
<!-- footer div -->
<!-- ********** -->
<footer class="page-footer">
    <div class="container">
        <div class="row">
            <div class="col l6 s12">
                <!-- Contact info -->
                <h5 class="white-text">Contact</h5>
                <h6 id="iconrow"><a href="https://github.com/ebrillhart/photorganize" target="_blank" class="contacticon"><i class="fa fa-github-square"></i></a> <a href="http://instagram.com/ebrillhart/" class="contacticon" target="_blank"><i class="fa fa-instagram"></i></a> <a href="https://twitter.com/emmabrillhart" class="contacticon" target="_blank"><i class="fa fa-twitter-square"></i></a> <a href="https://www.linkedin.com/in/emmabrillhart" class="contacticon" target="_blank"><i class="fa fa-linkedin-square"></i></a></h6>
                <p class="contactInfo"><a href="http://ebrillhart.github.io/">ebrillhart.github.io/</a></p>
                <p class="contactInfo">emma.brillhart@gmail.com</p>
            </div>
        </div>
    </div>
    <div class="footer-copyright">
        <div class="container">
            © Copyright 2015. All rights reserved.
            <!-- Modal Trigger for privacy policy -->
            <a class="grey-text text-lighten-4 right modal-trigger" href="#modal1">Privacy Policy</a>
            <!-- Modal Structure for privacy policy -->
            <div id="modal1" class="modal">
                <div class="modal-content">
                    <h4>Privacy at photOrganize</h4>
                    <p>No Instagram data accessed by photOrganize will be shared with advertisers or other third parties.</p>
                    <p>As per Instagram's terms of service, all of the media that you create is your own.</p>
                </div>
                <div class="modal-footer">
                    <a href="#!" class=" modal-action modal-close waves-effect waves-green btn-flat">Agree</a>
                </div>
            </div>
        </div>
    </div>
</footer>