<!-- ****** -->
<!-- navbar -->
<!-- ****** -->
<div class="navbar-fixed">
    <nav>
        <div class="nav-wrapper">
            <a href="/" class="brand-logo">photOrganize</a>
            <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
            <ul class="right hide-on-med-and-down">
                <li><a href="/">Home</a></li>
                <li><a href="/auth/instagram">Log In With Instagram</a></li>
                <li><a href="#howTo">How-To</a></li>
                <li><a href="#about">About</a></li>
            </ul>
            <ul class="side-nav" id="mobile-demo">
                <li><a href="/">Home</a></li>
                <li><a href="/auth/instagram">Log in with Instagram</a></li>
                <li><a href="#about">Contact</a></li>
            </ul>
        </div>
    </nav>
</div>
<!-- ************ -->
<!-- Main content -->
<!-- ************ -->
<main>
    <div class="container z-depth-3" id="errorCon">
        <div class="row">
            <h2 class="center-align">Uh oh! There's been an error.</h2>
        </div>
        <div class="row">
            <div class="col s10 m10 l10 offset-s1 offset-m1 offset-l1">
                <h6>Looks like you don't have permission to access that page. Make sure you're signed in with your Instagram account.</h6>
                <h6>If you feel that you've received this message in error, please contact us.</h6>
            </div>
        </div>
    </div>
</main>
<!-- ********** -->
<!-- footer div -->
<!-- ********** -->
<footer class="page-footer">
    <div class="container">
        <div class="row">
            <div class="col l6 s12">
                <!-- Contact info -->
                <h5 class="white-text">Contact</h5>
                <h6 id="iconrow"><a href="https://github.com/ebrillhart/photorganize" target="_blank" class="contacticon"><i class="fa fa-github-square"></i></a> <a href="http://instagram.com/ebrillhart/" class="contacticon" target="_blank"><i class="fa fa-instagram"></i></a> <a href="https://twitter.com/emmabrillhart" class="contacticon" target="_blank"><i class="fa fa-twitter-square"></i></a> <a href="https://www.linkedin.com/in/emmabrillhart" class="contacticon" target="_blank"><i class="fa fa-linkedin-square"></i></a></h6>
                <p class="contactInfo"><a href="http://ebrillhart.github.io/">ebrillhart.github.io/</a></p>
                <p class="contactInfo">emma.brillhart@gmail.com</p>
            </div>
        </div>
    </div>
    <div class="footer-copyright">
        <div class="container">
            © Copyright 2015. All rights reserved.
            <!-- Modal Trigger for privacy policy -->
            <a class="grey-text text-lighten-4 right modal-trigger" href="#modal1">Privacy Policy</a>
            <!-- Modal Structure for privacy policy -->
            <div id="modal1" class="modal">
                <div class="modal-content">
                    <h4>Privacy at photOrganize</h4>
                    <p>No Instagram data accessed by photOrganize will be shared with advertisers or other third parties.</p>
                    <p>As per Instagram's terms of service, all of the media that you create is your own.</p>
                </div>
                <div class="modal-footer">
                    <a href="#!" class=" modal-action modal-close waves-effect waves-green btn-flat">Agree</a>
                </div>
            </div>
        </div>
    </div>
</footer>