/***********************/


/*styling for full site*/


/***********************/

html {
    font-family: Oxygen, Calibri, Trebuchet, sans-serif;
    font-weight: 300;
}

body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

main {
    flex: 1 0 auto;
}

#displayCon, #profileCon, #errorCon {
    margin-top: 50px;
    margin-bottom: 30px;
    padding: 30px 30px 10px 30px;
}

.input-field input[type=text]:focus {
    border-bottom: 1px solid #01579b;
    box-shadow: 0 1px 0 0 #000;
}

h6 a, p a, a i, span i {
    color: #01579b;
    text-decoration: none;
}

h6 a:hover, p a:hover, a i:hover, span i:hover {
    font-size: 1.1em;
    text-decoration: none;
    color: #01579b;
}

a:hover {
    text-decoration: none;
}

a.btn:hover {
    color: white;
}

li a, li a:hover {
    color: white;
}

i {
    color: white;
}

i:hover {
    color: white;
}

h4 i {
    color: black;
}


/*navbar site-wide*/

.brand-logo {
    margin-left: 10px;
    font-weight: 300;
}

nav {
    background-color: #26c6da;
}


/*footer bar site-wide*/

.contacticon {
    font-size: 2em;
}

.contacticon:hover {
    font-size: 2.05em;
}

#iconrow {
    letter-spacing: 6px;
}

footer.page-footer {
    background-color: #26c6da;
}

p.contactInfo a, .contactInfo {
    color: white;
}

div.modal-content {
    color: black;
}


/****************************/


/*styling for index/homepage*/


/****************************/

.parallax img {
    max-width: 800px;
}

.parallax-container#pOne {
    max-height: 200px;
}

.parallax-container {
    max-height: 400px;
}

#home {
    height: 400px;
}

#indexLogo {
    font-weight: 300;
}

#aboutImg {
    max-height: 300px;
    max-width: 300px;
}

#howToInfo {
    padding: 20px;
}


/****************************/


/*styling for dashboard page*/


/****************************/

div#searchIcon i {
    color: #01579b;
}


/*******************************************************/


/*styling for dashboard detail and archive detail pages*/


/*******************************************************/

@media (max-width: 700px) {
    #displayImg {
        padding-right: 30px;
    }
}

#displayImg {
    max-height: 450px;
    max-width: 450px;
}

#tag {
    border: 1px solid black;
}

#tagDisplay, #noteDisplay {
    margin-left: 60px;
}


/**************************/


/*styling for profile page*/


/**************************/

#profPic {
    max-height: 400px;
    max-width: 400px;
}

.profInfo {
    padding: 20px;
}


/**************************/


/*styling for archive page*/


/**************************/

#archiveCon {
    margin-top: 20px;
}