@media (max-width: 700px) {
	#displayImg {
		padding-right: 30px;
	}
}

html {
    font-family: GillSans, Calibri, Trebuchet, sans-serif;
  }

body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

main {
    flex: 1 0 auto;
}

.parallax img { 
	max-width: 800px;
}

.parallax-container#pOne {
	max-height: 200px;
}

.parallax-container {
	max-height: 400px;
}

#home, #howTo{
	height: 400px;
}

#about {
	height: 300px;
}

#displayImg {
	max-height: 450px;
	max-width: 450px;
}

#profPic {
	max-height: 400px;
	max-width: 400px;
}

#displayCon, #profileCon {
	margin-top: 50px;
	margin-bottom: 30px;
	padding: 30px 30px 10px 30px;
}

#tag {
	border: 1px solid black;
}

.brand-logo {
	margin-left: 10px;
}

nav {
	background-color: #26c6da;
}

footer.page-footer {
    background-color: #26c6da;
}

.profInfo {
	padding: 20px;
}

#archiveCon {
	margin-top: 20px;
}

.input-field input[type=text]:focus {
    border-bottom: 1px solid #01579b;
    box-shadow: 0 1px 0 0 #000;
}

h6 a, p a, a i {
	color: #01579b;
	text-decoration: none;
}

h6 a:hover, p a:hover, a i:hover {
	font-size: 1.1em;
	text-decoration: none;
}

a:hover {
	text-decoration: none;
}

a.btn:hover {
	color: white;
}

li a, li a:hover {
	color: white;
}

